#title {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color: darksalmon;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    text-align: center;
}

.dogCard {
    padding-inline-start: 15px;
    width: 300px;
    text-align: center;
    display: inline-block;
    text-align: center;
}

h4 {
    max-width: fit-content;
    text-align: center;
}